<app-button label="Novo Veículo" (handleClick)="handleCreateVehicle()" />

<ng-container *ngIf="isLoading; else loadedVehicles">
  Carregando veículos...
</ng-container>
<ng-template #loadedVehicles>
  <div *ngFor="let vehicle of vehicles">
    {{ vehicle.placa }} - {{ vehicle.modelo }} - {{ vehicle.marca }}
    <app-button label="Detalhes" (handleClick)="handleViewDetails(vehicle)" />
    <app-button label="Editar" (handleClick)="handleEditVehicle(vehicle)" />
    <app-button label="Excluir" (handleClick)="handleDeleteVehicle(vehicle)" />
  </div>
</ng-template>
