<app-button label="Voltar" (handleClick)="handleGoBack()" />

<form [formGroup]="form">
  <app-input
    [control]="getControl('licensePlate')"
    name="licensePlate"
    label="Placa"
    placeholder="Digite a placa do veículo"
    errorLabel="Informe uma placa válida"
    [mask]="masks.PLATE"
  />
  <app-input
    [control]="getControl('chassis')"
    name="chassis"
    label="Chassi"
    placeholder="Digite o chassi do veículo"
    errorLabel="Informe um chassi válido"
    [mask]="masks.CHASSI"
  />
  <app-input
    [control]="getControl('renavam')"
    name="renavam"
    label="Renavam"
    placeholder="Digite o renavam do veículo"
    errorLabel="Informe um renavam válido"
    [mask]="masks.RENAVAM"
  />
  <app-select-input
    [control]="getControl('brandId')"
    [options]="brandOptions"
    label="Marca"
    placeholder="Digite a marca do veículo"
    errorLabel="Informe a marca do veículo"
    clearable
  />
  <app-select-input
    [control]="getControl('modelId')"
    [options]="modelOptions"
    label="Modelo"
    placeholder="Digite o modelo do veículo"
    errorLabel="Informe o modelo do veículo"
    clearable
  />
  <app-input
    [control]="getControl('year')"
    name="year"
    label="Ano"
    [minLength]="4"
    [maxLength]="4"
    placeholder="Digite o ano do veículo"
    errorLabel="Informe o ano do veículo"
    [mask]="masks.ONLY_NUMBER"
  />
  <app-button
    label="{{ isEdit ? 'Atualizar Veículo' : 'Cadastrar Veículo' }}"
    [disabled]="form.invalid"
    (handleClick)="handleSubmit()"
  />
</form>
