@import 'tailwindcss';

:root {
  --color-white: #f5f5f5;
  --color-black: #1a1a1a;

  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-primary-active: #1e40af;
  --color-primary-disabled: #93c5fd;

  --radius-sm: 4px;
  --radius-md: 8px;

  --spacing-sm: 8px;
  --spacing-md: 16px;
}

* {
  box-sizing: border-box;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  background-color: var(--color-white);
}

/* Form-field with tailwind bug-fix */
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden;
}
